.videoListItem{
  height: fit-content;
  margin: 0 8px 40px 8px;
  width: 240px;
  flex-grow: 1;

  .videoListItem__thumbnail{
    width: 100%;
  }

  div{
    padding: 2px 5px;
    max-height: 3rem;
  }

  .videoListItem__title{
    font-size: 1.2rem;
    line-height: 1.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 10px;
  }

  .videoListItem__channel, .videoListItem__time{
    color: #606060;
  }

  .videoListItem__time{
    font-size: smaller;
  }
}
